/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>


#define KP(keycode) &as_kp LS(keycode) keycode
#define HRML(k1, k2, k3, k4) &ht LSHFT k1 &ht LALT k2 &ht LCTRL k3 &ht LGUI k4
#define HRMR(k1, k2, k3, k4) &ht RSHFT k1 &ht RALT k2 &ht RCTRL k3 &ht RGUI k4

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

        behaviors {
                ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <220>;
            quick_tap_ms = <50>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
// |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | , | . | / |
//             | ESC | TAB | SPC |     | ENT | BSPC  | DEL |
                        display-name = "Base";
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P
        HRML(A, S, D, F) &kp G     &kp H HRMR(J, K, L, SQT)
   &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &kp FSLH
        &lt 5 ESCAPE  &lt 1 TAB  &lt 2 SPACE    &lt 3 RETURN  &lt 4 BACKSPACE  &lt 6 DELETE
                        >;
                };

                nav_layer {
                        display-name = "Nav";
                        bindings = <
   &trans    &trans    &trans    &trans    &trans    &kp K_REDO  &kp K_CUT    &kp K_COPY    &kp K_PASTE  &kp K_UNDO
   &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &trans    &kp CAPSLOCK &kp LEFT    &kp DOWN      &kp UP       &kp RIGHT
   &trans    &trans    &trans    &trans    &trans    &kp INSERT  &kp HOME     &kp PG_DN     &kp PG_UP    &kp END
                               &kp ESCAPE  &kp TAB    &kp SPACE   &kp RETURN   &kp BACKSPACE &kp DELETE
                        >;
                };

                mouse_layer {
                        display-name = "Mouse";
                        bindings = <
   &trans    &trans    &trans    &trans    &trans    &trans            &trans            &trans          &trans        &trans
   &kp LGUI  &kp LALT  &kp LCTRL &kp LSHFT &trans    &trans            &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT
   &trans    &trans    &trans    &trans    &trans    &trans            &trans            &trans          &trans        &trans
                               &trans      &trans     &trans      &mkp LCLK    &mkp RCLK      &trans
                        >;
                };

                num_layer {
                        display-name = "Num";
                        bindings = <
   &kp LBKT  &kp N7    &kp N8    &kp N9    &kp RBKT   &kp N6    &kp N7    &kp N8    &kp N9    &kp N0
   &kp SEMI  &kp N4    &kp N5    &kp N6    &kp EQUAL  &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &trans
   &kp GRAVE &kp N1    &kp N2    &kp N3    &kp BSLH   &trans    &trans    &trans    &trans    &trans
                               &kp DOT     &kp N0     &kp MINUS  &kp RET   &kp BSPC  &kp RALT
                        >;
                };

                sym_layer {
                        display-name = "Sym";
                        bindings = <
   &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT   &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR
   &trans    &trans    &trans    &trans    &trans      &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
   &trans    &trans    &trans    &trans    &trans      &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE
                               &trans      &trans      &kp GRAVE  &kp TILDE  &trans     &trans
                        >;
                };

                media_layer {
                        display-name = "Media";
                        bindings = <
   &trans    &trans    &trans    &trans    &trans    &kp C_PREV  &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT  &kp C_MUTE
   &trans    &trans    &trans    &trans    &trans    &kp K_REDO  &kp K_CUT    &kp K_COPY   &kp K_PASTE &kp K_UNDO
   &trans    &trans    &trans    &trans    &trans    &bt BT_CLR  &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3
                               &trans      &trans     &trans      &kp C_PP     &kp C_STOP    &trans
                        >;
                };

                fun_layer {
                        display-name = "Fun";
                        bindings = <
   &kp F1    &kp F2    &kp F3    &kp F4    &kp F5     &kp F6     &kp F7      &kp F8      &kp F9      &kp F10
   &kp F11   &kp F12   &kp PSCRN &kp SLCK  &kp PAUSE  &kp INS    &kp HOME    &kp PG_DN   &kp PG_UP   &kp END
   &trans    &trans    &trans    &trans    &trans     &trans     &trans      &trans      &trans      &trans
                               &trans      &trans     &trans      &trans      &trans       &trans
                        >;
                };
        };
};
