/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>


#define KP(keycode) &as_kp LS(keycode) keycode
#define HRML(k1, k2, k3, k4) &ht LSHFT k1 &ht LCTRL k2 &ht LALT k3 &ht LGUI k4
#define HRMR(k1, k2, k3, k4) &ht RGUI k1 &ht RALT k2 &ht RCTRL k3 &ht RSHFT k4

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    combos {
        compatible = "zmk,combos";

        combo_copy {
            bindings = <&kp LG(C)>;
            key-positions = <21 22>;
        };

        combo_paste {
            bindings = <&kp LG(V)>;
            key-positions = <22 23>;
        };

        combo_cut {
            bindings = <&kp LG(X)>;
            key-positions = <21 23>;
        };

        combo_select_all {
            bindings = <&kp LG(A)>;
            key-positions = <10 11>;
        };

        combo_zx_undo {
            bindings = <&kp LG(Z)>;
            key-positions = <20 21>;
        };

        combo_zxc_redo {
            bindings = <&kp LG(LS(Z))>;
            key-positions = <20 21 22>;
        };

        combo_ui_equal {
            bindings = <&kp EQUAL>;
            key-positions = <6 7>;
        };

        combo_jk_minus {
            bindings = <&kp MINUS>;
            key-positions = <16 17>;
        };

        combo_m_comma_under {
            bindings = <&kp UNDER>;
            key-positions = <26 27>;
        };

        combo_hjk_plus {
            bindings = <&kp PLUS>;
            key-positions = <15 16 17>;
        };

        combo_comma_dot_semi {
            bindings = <&kp SEMI>;
            key-positions = <27 28>;
        };

        combo_dot_slash_colon {
            bindings = <&kp COLON>;
            key-positions = <28 29>;
        };

        combo_mko_slash {
            bindings = <&kp FSLH>;
            key-positions = <8 17 26>;
        };

        combo_uk_dot_bslash {
            bindings = <&kp BSLH>;
            key-positions = <6 17 28>;
        };

        combo_ik_bspc_pipe {
            bindings = <&kp PIPE>;
            key-positions = <7 17 34>;
        };

        combo_ji_lt {
            bindings = <&kp LT>;
            key-positions = <7 16>;
        };

        combo_il_gt {
            bindings = <&kp GT>;
            key-positions = <7 18>;
        };

        combo_jil_caret {
            bindings = <&kp CARET>;
            key-positions = <7 16 18>;
        };

        combo_we_escape {
            bindings = <&kp ESCAPE>;
            key-positions = <1 2>;
        };

        combo_u_dot_percent {
            bindings = <&kp PRCNT>;
            key-positions = <6 28>;
        };

        combo_sd_tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        combo_num_45_tab {
            bindings = <&kp TAB>;
            key-positions = <12 13>;
            layers = <4>;
        };

        combo_asd_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <10 11 12>;
        };

        combo_wd_grave {
            bindings = <&kp GRAVE>;
            key-positions = <1 12>;
        };

        combo_aw_tilde {
            bindings = <&kp TILDE>;
            key-positions = <1 10>;
        };

        combo_io_bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <7 8>;
        };

        combo_kl_return {
            bindings = <&kp RETURN>;
            key-positions = <17 18>;
        };

        combo_uio_excl {
            bindings = <&kp EXCL>;
            key-positions = <6 7 8>;
        };

        combo_jko_qmark {
            bindings = <&kp QMARK>;
            key-positions = <8 16 17>;
        };

        combo_m_comma_o_dllr {
            bindings = <&kp DLLR>;
            key-positions = <8 26 27>;
        };

        combo_ju_at {
            bindings = <&kp AT>;
            key-positions = <6 16>;
        };

        combo_yh_hash {
            bindings = <&kp HASH>;
            key-positions = <5 15>;
        };

        combo_jl_amps {
            bindings = <&kp AMPS>;
            key-positions = <16 18>;
        };

        combo_ik_astrk {
            bindings = <&kp ASTRK>;
            key-positions = <7 17>;
        };

        combo_op_vol_up {
            bindings = <&kp C_VOL_UP>;
            key-positions = <8 9>;
        };

        combo_l_sqt_vol_dn {
            bindings = <&kp C_VOL_DN>;
            key-positions = <18 19>;
        };

        combo_iop_mute {
            bindings = <&kp C_MUTE>;
            key-positions = <7 8 9>;
        };

        combo_kl_sqt_play_pause {
            bindings = <&kp C_PP>;
            key-positions = <17 18 19>;
        };

        combo_rt_lpar {
            bindings = <&kp LPAR>;
            key-positions = <3 4>;
        };

        combo_yu_rpar {
            bindings = <&kp RPAR>;
            key-positions = <5 6>;
        };

        combo_fg_lbrc {
            bindings = <&kp LBRC>;
            key-positions = <13 14>;
        };

        combo_hj_rbrc {
            bindings = <&kp RBRC>;
            key-positions = <15 16>;
        };

        combo_vb_lbkt {
            bindings = <&kp LBKT>;
            key-positions = <23 24>;
        };

        combo_nm_rbkt {
            bindings = <&kp RBKT>;
            key-positions = <25 26>;
        };

        combo_j_sqt_scroll_up {
            bindings = <&msc SCRL_UP>;
            key-positions = <16 19>;
        };

        combo_m_slsh_scroll_down {
            bindings = <&msc SCRL_DOWN>;
            key-positions = <26 29>;
        };

        combo_m_sqt_scroll_right {
            bindings = <&msc SCRL_RIGHT>;
            key-positions = <26 19>;
        };

        combo_j_slsh_scroll_left {
            bindings = <&msc SCRL_LEFT>;
            key-positions = <16 29>;
        };
    };

        behaviors {
                ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <220>;
            quick_tap_ms = <50>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U   |  I   |  O   | P |
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J   |  K   |  L   | ' | 
// |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M   | , | . | / |
//            | ESC | TAB | SPACE |    | Num | Nav | Mouse |
                        display-name = "Base";
                        bindings = <
   &kp Q &kp W &kp E &kp R &kp T     &kp Y &kp U &kp I &kp O &kp P
        HRML(A, S, D, F) &kp G     &kp H HRMR(J, K, L, SQT)
   &kp Z &kp X &kp C &kp V &kp B     &kp N &kp M &kp COMMA &kp DOT &kp FSLH
    &kp ESCAPE  &kp TAB  &kp SPACE    &lt 4 RETURN  &lt 2 BACKSPACE  &lt 3 DELETE
                        >;
                };
                
        media_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |      |     | Prev  | Play | Next | Vol- | Vol+ |
// | SHFT| CTRL| ALT | GUI |      |     | BT0   | BT1  | BT2  | BT3  | BTCLR|
// |     |     |     |     |      |     |       |      |      |      |      |
//             |     |     |      |     | Stop  | Play | Mute |
            display-name = "Media";
            bindings = <
   &trans &trans &trans &trans &trans     &kp C_PREV &kp C_PP &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP
    &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &trans     &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_CLR
   &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans
    &trans &trans &trans    &kp C_STOP &kp C_PP &kp C_MUTE
            >;
        };

        nav_layer {
// -----------------------------------------------------------------------------------------
    // | BT0 | BT1 | BT2 | BT3 | BT4  |     |      |      |  UP |      |      |
    // | SHFT| CTRL| ALT | GUI |      |     |      | Left  | Down | Right|      |
    // |     |     |     |     |      |     |      |      |      |      |      |
//             |     |     |      |     |       |      |      |
            display-name = "Nav";
            bindings = <
       &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &trans &trans &kp UP &trans &trans
        &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &trans     &trans &kp LEFT &kp DOWN &kp RIGHT &trans
       &trans &trans &trans &trans &trans     &trans &trans &trans &trans &trans
    &trans &trans &trans    &trans &trans &trans
            >;
        };

        mouse_layer {
// -----------------------------------------------------------------------------------------
// |     |     |     |     |      |     | Home | S<-   |  ^   | S-> | S^   |
// | SHFT| CTRL| ALT | GUI |      |     | End  | <-    |  v   | ->  | Sv   |
// |     |     |     |     |      |     |      | LCLK  | MCLK | RCLK|      |
//             |     |     |      |     |      |      |      |
            display-name = "Mouse";
            bindings = <
   &trans &trans &trans &trans &trans     &kp HOME &msc SCRL_LEFT &mmv MOVE_UP &msc SCRL_RIGHT &msc SCRL_UP
    &kp LSHFT &kp LCTRL &kp LALT &kp LGUI &trans     &kp END &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &msc SCRL_DOWN
    &trans &trans &trans &trans &trans     &trans &mkp LCLK &mkp MCLK &mkp RCLK &trans
    &trans &trans &trans    &trans &trans &trans
            >;
        };

        num_layer {
// -----------------------------------------------------------------------------------------
// |  -  | 7/& | 8/* | 9/( | BSPC|     |     |     |     |     |     |
// |  (  | 4/$ | 5/% | 6/^ |  )  |     |     | GUI | ALT | CTRL | SHFT|
// |  ,  | 1/! | 2/@ | 3/# |     |     |     |     |     |     |     |
//             |  .  |  0  |     |     | RET | BSPC| DEL |
            display-name = "Num";
            bindings = <
    &kp MINUS KP(N7) KP(N8) KP(N9) &kp BACKSPACE     &trans &trans &trans &trans &trans
    &kp LPAR KP(N4) KP(N5) KP(N6) &kp RPAR    &trans &kp LGUI &kp LALT &kp LCTRL &kp LSHFT
    &kp COMMA KP(N1) KP(N2) KP(N3) &trans      &trans &trans &trans &trans &trans
    &kp DOT  KP(N0)  &trans    &kp RETURN  &lt 5 BACKSPACE  &kp DELETE
            >;
        };


        fun_layer {
// -----------------------------------------------------------------------------------------
// | F7  | F8  | F9  | F10 | F11  |     |      |      |      |      |      |
// | F4  | F5  | F6  | F12 | SCLK |     |      | GUI  | ALT  | CTRL | SHFT |
// | F1  | F2  | F3  |Pause| App  |     |      |      |      |      |      |
//             |  =  | SPC |      |     |      |      |      |
            display-name = "Fun";
            bindings = <
   &kp F7 &kp F8 &kp F9 &kp F10 &kp F11     &trans &trans &trans &trans &trans
    &kp F4 &kp F5 &kp F6 &kp F12 &kp SCROLLLOCK   &trans &kp LGUI &kp LALT &kp LCTRL &kp LSHFT
    &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK &kp K_APP    &trans &trans &trans &trans &trans
    &kp EQUAL &kp SPACE &trans    &trans &trans &trans
            >;
        };
                
                
    };
};








